/********************** GOOGLE CSS CODE ***********************/

body {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    background-color: #EEEEEE;
    text-align: center;
    font-size: medium;
    margin: -10px 75px 2px 75px;    
}

.first-box {
    background-color: rgb(126, 229, 218);
    width: 33%;
    margin-left: 75px;
  /*  text-align: start;    */
    font-size: medium;
/*    margin: 2px 25px 2px 75px;    */
    padding: 2px; 
    float: left;  
}

.second-box {
    background-color: rgb(112,204,194);
    width: 19.8%;
 /*   text-align: start;    */
    font-size: small;
/*    margin: 2px 2px 2px -23px;    */
    padding: -2px;  
    margin-left: 2px;
    padding-bottom: -5px;
    float: left;
}

.third-box {
    background-color: #62b3aa;
    width: 35.6%;
    height: 90px;
    text-align: center;
    font-size: small;
    margin-left: 2px;
    /*margin: 2px 25px 2px 75px;*/
  /*  margin: 2px 82px 2px 0px; */
 /*   margin: 2px;  */
    padding: 0px;
    float: left;  
}

.clear {
    clear: both;
}

p {
    text-align: center;
}


.buttons {
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    color: -internal-light-dark(black, white);
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    text-align: center;
  /*  padding: 2px; */
 /*   margin-top: 2px;  */
}


footer {
    font-size: small;
}