body {
    background-color: #CEAB93;
}

.nav-links a {
    margin-right: 15px;
    color:rgb(22, 18, 48);
}

header h1 {
    text-align: center;
    color:#5f4f44;
}

header p {
    text-align: center;
    color:#573e2d
}

h3 {
    text-align: center;
    color: #5e524a;
}

h2 {
    text-align: center;
    color: #5e524a;
}

footer {
    text-align: center;
    background-color: #c5a28b;
    color:rgb(167, 116, 167)
}
